.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #272d38;
  min-height: 30vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-sizing: border-box;
  box-shadow: 0 35px 45px 0 rgb(0 0 0 / 13%);
  z-index: 10;
  position: relative;
}

.App-link {
  color: #61dafb;
}

.logo {
  width: calc(10px + 10vmin);
  height: calc(10px + 10vmin);
  object-fit: cover;
  border-radius: 50%;
}

.logo-container {
  width: calc(10px + 10vmin);
  height: calc(10px + 10vmin);
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  background-color: white;
  margin-top: 1rem;
  box-shadow: 0 18px 45px 0 rgb(0 0 0 / 13%);
  z-index: 10;
  position: relative;
}

.socialLinks {
  margin-bottom: 0.5rem;
}

.gallery-container {
  /* width: 90vw; */
  max-width: 900px;

  display: grid;
  gap: 3vw;
  margin: 1rem auto 2rem;
  justify-items: center;
}

.image {
  max-width: 90vw;

  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 900px) {
  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .image {
    max-width: 100%;
    margin: 0;
  }
}

.footer {
  display: block;
  min-height: 10vh;
  background-color: #272d38;
  color: white;
  padding: 1rem;
  text-align: start;
}
